WebAPI/.vs/WebAPI/DesignTimeBuild/.dtbcache.v2
WebAPI/.vs/WebAPI/FileContentIndex/b9b2aee3-38c7-41c5-ac6c-7b0a62c83092.vsidx
WebAPI/.vs/WebAPI/FileContentIndex/40fb6d9e-787a-49ea-95b1-22d3d387fef7.vsidx
WebAPI/bin/Debug/net8.0/appsettings.Development.json
WebAPI/bin/Debug/net8.0/appsettings.json
WebAPI/bin/Debug/net8.0/EntityFramework.dll
WebAPI/bin/Debug/net8.0/EntityFramework.SqlServer.dll
WebAPI/bin/Debug/net8.0/Humanizer.dll
WebAPI/bin/Debug/net8.0/Microsoft.AspNetCore.OpenApi.dll
WebAPI/bin/Debug/net8.0/Microsoft.Bcl.AsyncInterfaces.dll
WebAPI/bin/Debug/net8.0/Microsoft.Build.Locator.dll
WebAPI/bin/Debug/net8.0/Microsoft.CodeAnalysis.CSharp.dll
WebAPI/bin/Debug/net8.0/Microsoft.CodeAnalysis.CSharp.Workspaces.dll
WebAPI/bin/Debug/net8.0/Microsoft.CodeAnalysis.dll
WebAPI/bin/Debug/net8.0/Microsoft.CodeAnalysis.Workspaces.dll
WebAPI/bin/Debug/net8.0/Microsoft.CodeAnalysis.Workspaces.MSBuild.BuildHost.dll
WebAPI/bin/Debug/net8.0/Microsoft.CodeAnalysis.Workspaces.MSBuild.dll
WebAPI/bin/Debug/net8.0/Microsoft.Data.Sqlite.dll
WebAPI/bin/Debug/net8.0/Microsoft.EntityFrameworkCore.Abstractions.dll
WebAPI/bin/Debug/net8.0/Microsoft.EntityFrameworkCore.Design.dll
WebAPI/bin/Debug/net8.0/Microsoft.EntityFrameworkCore.dll
WebAPI/bin/Debug/net8.0/Microsoft.EntityFrameworkCore.Relational.dll
WebAPI/bin/Debug/net8.0/Microsoft.EntityFrameworkCore.Sqlite.dll
WebAPI/bin/Debug/net8.0/Microsoft.Extensions.Caching.Abstractions.dll
WebAPI/bin/Debug/net8.0/Microsoft.Extensions.Caching.Memory.dll
WebAPI/bin/Debug/net8.0/Microsoft.Extensions.Configuration.Abstractions.dll
WebAPI/bin/Debug/net8.0/Microsoft.Extensions.Configuration.Binder.dll
WebAPI/bin/Debug/net8.0/Microsoft.Extensions.DependencyInjection.Abstractions.dll
WebAPI/bin/Debug/net8.0/Microsoft.Extensions.DependencyInjection.dll
WebAPI/bin/Debug/net8.0/Microsoft.Extensions.DependencyModel.dll
WebAPI/bin/Debug/net8.0/Microsoft.Extensions.Diagnostics.Abstractions.dll
WebAPI/bin/Debug/net8.0/Microsoft.Extensions.FileProviders.Abstractions.dll
WebAPI/bin/Debug/net8.0/Microsoft.Extensions.Hosting.Abstractions.dll
WebAPI/bin/Debug/net8.0/Microsoft.Extensions.Logging.Abstractions.dll
WebAPI/bin/Debug/net8.0/Microsoft.Extensions.Logging.dll
WebAPI/bin/Debug/net8.0/Microsoft.Extensions.Options.dll
WebAPI/bin/Debug/net8.0/Microsoft.Extensions.Primitives.dll
WebAPI/bin/Debug/net8.0/Microsoft.OpenApi.dll
WebAPI/bin/Debug/net8.0/Microsoft.Win32.SystemEvents.dll
WebAPI/bin/Debug/net8.0/Mono.TextTemplating.dll
WebAPI/bin/Debug/net8.0/Serilog.AspNetCore.dll
WebAPI/bin/Debug/net8.0/Serilog.dll
WebAPI/bin/Debug/net8.0/Serilog.Extensions.Hosting.dll
WebAPI/bin/Debug/net8.0/Serilog.Extensions.Logging.dll
WebAPI/bin/Debug/net8.0/Serilog.Formatting.Compact.dll
WebAPI/bin/Debug/net8.0/Serilog.Settings.Configuration.dll
WebAPI/bin/Debug/net8.0/Serilog.Sinks.Console.dll
WebAPI/bin/Debug/net8.0/Serilog.Sinks.Debug.dll
WebAPI/bin/Debug/net8.0/Serilog.Sinks.File.dll
WebAPI/bin/Debug/net8.0/SQLitePCLRaw.batteries_v2.dll
WebAPI/bin/Debug/net8.0/SQLitePCLRaw.core.dll
WebAPI/bin/Debug/net8.0/SQLitePCLRaw.provider.e_sqlite3.dll
WebAPI/bin/Debug/net8.0/Swashbuckle.AspNetCore.Swagger.dll
WebAPI/bin/Debug/net8.0/Swashbuckle.AspNetCore.SwaggerGen.dll
WebAPI/bin/Debug/net8.0/Swashbuckle.AspNetCore.SwaggerUI.dll
WebAPI/bin/Debug/net8.0/System.CodeDom.dll
WebAPI/bin/Debug/net8.0/System.Composition.AttributedModel.dll
WebAPI/bin/Debug/net8.0/System.Composition.Convention.dll
WebAPI/bin/Debug/net8.0/System.Composition.Hosting.dll
WebAPI/bin/Debug/net8.0/System.Composition.Runtime.dll
WebAPI/bin/Debug/net8.0/System.Composition.TypedParts.dll
WebAPI/bin/Debug/net8.0/System.Configuration.ConfigurationManager.dll
WebAPI/bin/Debug/net8.0/System.Data.SqlClient.dll
WebAPI/bin/Debug/net8.0/System.Data.SQLite.dll
WebAPI/bin/Debug/net8.0/System.Data.SQLite.EF6.dll
WebAPI/bin/Debug/net8.0/System.Diagnostics.DiagnosticSource.dll
WebAPI/bin/Debug/net8.0/System.Drawing.Common.dll
WebAPI/bin/Debug/net8.0/System.IO.Pipelines.dll
WebAPI/bin/Debug/net8.0/System.Security.Cryptography.ProtectedData.dll
WebAPI/bin/Debug/net8.0/System.Security.Permissions.dll
WebAPI/bin/Debug/net8.0/System.Text.Encodings.Web.dll
WebAPI/bin/Debug/net8.0/System.Text.Json.dll
WebAPI/bin/Debug/net8.0/System.Windows.Extensions.dll
WebAPI/bin/Debug/net8.0/WebAPI.deps.json
WebAPI/bin/Debug/net8.0/WebAPI.dll
WebAPI/bin/Debug/net8.0/WebAPI.exe
WebAPI/bin/Debug/net8.0/WebAPI.pdb
WebAPI/bin/Debug/net8.0/WebAPI.runtimeconfig.json
WebAPI/bin/Debug/net8.0/cs/Microsoft.CodeAnalysis.CSharp.resources.dll
WebAPI/bin/Debug/net8.0/cs/Microsoft.CodeAnalysis.CSharp.Workspaces.resources.dll
WebAPI/bin/Debug/net8.0/cs/Microsoft.CodeAnalysis.resources.dll
WebAPI/bin/Debug/net8.0/cs/Microsoft.CodeAnalysis.Workspaces.MSBuild.BuildHost.resources.dll
WebAPI/bin/Debug/net8.0/cs/Microsoft.CodeAnalysis.Workspaces.resources.dll
WebAPI/bin/Debug/net8.0/de/Microsoft.CodeAnalysis.CSharp.resources.dll
WebAPI/bin/Debug/net8.0/de/Microsoft.CodeAnalysis.CSharp.Workspaces.resources.dll
WebAPI/bin/Debug/net8.0/de/Microsoft.CodeAnalysis.resources.dll
WebAPI/bin/Debug/net8.0/de/Microsoft.CodeAnalysis.Workspaces.MSBuild.BuildHost.resources.dll
WebAPI/bin/Debug/net8.0/de/Microsoft.CodeAnalysis.Workspaces.resources.dll
WebAPI/bin/Debug/net8.0/es/Microsoft.CodeAnalysis.CSharp.resources.dll
WebAPI/bin/Debug/net8.0/es/Microsoft.CodeAnalysis.CSharp.Workspaces.resources.dll
WebAPI/bin/Debug/net8.0/es/Microsoft.CodeAnalysis.resources.dll
WebAPI/bin/Debug/net8.0/es/Microsoft.CodeAnalysis.Workspaces.MSBuild.BuildHost.resources.dll
WebAPI/bin/Debug/net8.0/es/Microsoft.CodeAnalysis.Workspaces.resources.dll
WebAPI/bin/Debug/net8.0/fr/Microsoft.CodeAnalysis.CSharp.resources.dll
WebAPI/bin/Debug/net8.0/fr/Microsoft.CodeAnalysis.CSharp.Workspaces.resources.dll
WebAPI/bin/Debug/net8.0/fr/Microsoft.CodeAnalysis.resources.dll
WebAPI/bin/Debug/net8.0/fr/Microsoft.CodeAnalysis.Workspaces.MSBuild.BuildHost.resources.dll
WebAPI/bin/Debug/net8.0/fr/Microsoft.CodeAnalysis.Workspaces.resources.dll
WebAPI/bin/Debug/net8.0/it/Microsoft.CodeAnalysis.CSharp.resources.dll
WebAPI/bin/Debug/net8.0/it/Microsoft.CodeAnalysis.CSharp.Workspaces.resources.dll
WebAPI/bin/Debug/net8.0/it/Microsoft.CodeAnalysis.resources.dll
WebAPI/bin/Debug/net8.0/it/Microsoft.CodeAnalysis.Workspaces.MSBuild.BuildHost.resources.dll
WebAPI/bin/Debug/net8.0/it/Microsoft.CodeAnalysis.Workspaces.resources.dll
WebAPI/bin/Debug/net8.0/ja/Microsoft.CodeAnalysis.CSharp.resources.dll
WebAPI/bin/Debug/net8.0/ja/Microsoft.CodeAnalysis.CSharp.Workspaces.resources.dll
WebAPI/bin/Debug/net8.0/ja/Microsoft.CodeAnalysis.resources.dll
WebAPI/bin/Debug/net8.0/ja/Microsoft.CodeAnalysis.Workspaces.MSBuild.BuildHost.resources.dll
WebAPI/bin/Debug/net8.0/ja/Microsoft.CodeAnalysis.Workspaces.resources.dll
WebAPI/bin/Debug/net8.0/ko/Microsoft.CodeAnalysis.CSharp.resources.dll
WebAPI/bin/Debug/net8.0/ko/Microsoft.CodeAnalysis.CSharp.Workspaces.resources.dll
WebAPI/bin/Debug/net8.0/ko/Microsoft.CodeAnalysis.resources.dll
WebAPI/bin/Debug/net8.0/ko/Microsoft.CodeAnalysis.Workspaces.MSBuild.BuildHost.resources.dll
WebAPI/bin/Debug/net8.0/ko/Microsoft.CodeAnalysis.Workspaces.resources.dll
WebAPI/bin/Debug/net8.0/pl/Microsoft.CodeAnalysis.CSharp.resources.dll
WebAPI/bin/Debug/net8.0/pl/Microsoft.CodeAnalysis.CSharp.Workspaces.resources.dll
WebAPI/bin/Debug/net8.0/pl/Microsoft.CodeAnalysis.resources.dll
WebAPI/bin/Debug/net8.0/pl/Microsoft.CodeAnalysis.Workspaces.MSBuild.BuildHost.resources.dll
WebAPI/bin/Debug/net8.0/pl/Microsoft.CodeAnalysis.Workspaces.resources.dll
WebAPI/bin/Debug/net8.0/pt-BR/Microsoft.CodeAnalysis.CSharp.resources.dll
WebAPI/bin/Debug/net8.0/pt-BR/Microsoft.CodeAnalysis.CSharp.Workspaces.resources.dll
WebAPI/bin/Debug/net8.0/pt-BR/Microsoft.CodeAnalysis.resources.dll
WebAPI/bin/Debug/net8.0/pt-BR/Microsoft.CodeAnalysis.Workspaces.MSBuild.BuildHost.resources.dll
WebAPI/bin/Debug/net8.0/pt-BR/Microsoft.CodeAnalysis.Workspaces.resources.dll
WebAPI/bin/Debug/net8.0/ru/Microsoft.CodeAnalysis.CSharp.resources.dll
WebAPI/bin/Debug/net8.0/ru/Microsoft.CodeAnalysis.CSharp.Workspaces.resources.dll
WebAPI/bin/Debug/net8.0/ru/Microsoft.CodeAnalysis.resources.dll
WebAPI/bin/Debug/net8.0/ru/Microsoft.CodeAnalysis.Workspaces.MSBuild.BuildHost.resources.dll
WebAPI/bin/Debug/net8.0/ru/Microsoft.CodeAnalysis.Workspaces.resources.dll
WebAPI/bin/Debug/net8.0/runtimes/browser/lib/net8.0/System.Text.Encodings.Web.dll
WebAPI/bin/Debug/net8.0/runtimes/browser-wasm/nativeassets/net8.0/e_sqlite3.a
WebAPI/bin/Debug/net8.0/runtimes/linux-arm/native/libe_sqlite3.so
WebAPI/bin/Debug/net8.0/runtimes/linux-arm64/native/libe_sqlite3.so
WebAPI/bin/Debug/net8.0/runtimes/linux-armel/native/libe_sqlite3.so
WebAPI/bin/Debug/net8.0/runtimes/linux-mips64/native/libe_sqlite3.so
WebAPI/bin/Debug/net8.0/runtimes/linux-musl-arm/native/libe_sqlite3.so
WebAPI/bin/Debug/net8.0/runtimes/linux-musl-arm64/native/libe_sqlite3.so
WebAPI/bin/Debug/net8.0/runtimes/linux-musl-s390x/native/libe_sqlite3.so
WebAPI/bin/Debug/net8.0/runtimes/linux-musl-x64/native/libe_sqlite3.so
WebAPI/bin/Debug/net8.0/runtimes/linux-ppc64le/native/libe_sqlite3.so
WebAPI/bin/Debug/net8.0/runtimes/linux-s390x/native/libe_sqlite3.so
WebAPI/bin/Debug/net8.0/runtimes/linux-x64/native/libe_sqlite3.so
WebAPI/bin/Debug/net8.0/runtimes/linux-x64/native/SQLite.Interop.dll
WebAPI/bin/Debug/net8.0/runtimes/linux-x86/native/libe_sqlite3.so
WebAPI/bin/Debug/net8.0/runtimes/maccatalyst-arm64/native/libe_sqlite3.dylib
WebAPI/bin/Debug/net8.0/runtimes/maccatalyst-x64/native/libe_sqlite3.dylib
WebAPI/bin/Debug/net8.0/runtimes/osx-arm64/native/libe_sqlite3.dylib
WebAPI/bin/Debug/net8.0/runtimes/osx-x64/native/libe_sqlite3.dylib
WebAPI/bin/Debug/net8.0/runtimes/osx-x64/native/SQLite.Interop.dll
WebAPI/bin/Debug/net8.0/runtimes/unix/lib/netcoreapp2.1/System.Data.SqlClient.dll
WebAPI/bin/Debug/net8.0/runtimes/unix/lib/netcoreapp3.0/System.Drawing.Common.dll
WebAPI/bin/Debug/net8.0/runtimes/win/lib/netcoreapp2.1/System.Data.SqlClient.dll
WebAPI/bin/Debug/net8.0/runtimes/win/lib/netcoreapp3.0/Microsoft.Win32.SystemEvents.dll
WebAPI/bin/Debug/net8.0/runtimes/win/lib/netcoreapp3.0/System.Drawing.Common.dll
WebAPI/bin/Debug/net8.0/runtimes/win/lib/netcoreapp3.0/System.Windows.Extensions.dll
WebAPI/bin/Debug/net8.0/runtimes/win/lib/netstandard2.0/System.Security.Cryptography.ProtectedData.dll
WebAPI/bin/Debug/net8.0/runtimes/win-arm/native/e_sqlite3.dll
WebAPI/bin/Debug/net8.0/runtimes/win-arm64/native/e_sqlite3.dll
WebAPI/bin/Debug/net8.0/runtimes/win-arm64/native/sni.dll
WebAPI/bin/Debug/net8.0/runtimes/win-x64/native/e_sqlite3.dll
WebAPI/bin/Debug/net8.0/runtimes/win-x64/native/sni.dll
WebAPI/bin/Debug/net8.0/runtimes/win-x64/native/SQLite.Interop.dll
WebAPI/bin/Debug/net8.0/runtimes/win-x86/native/e_sqlite3.dll
WebAPI/bin/Debug/net8.0/runtimes/win-x86/native/sni.dll
WebAPI/bin/Debug/net8.0/runtimes/win-x86/native/SQLite.Interop.dll
WebAPI/bin/Debug/net8.0/tr/Microsoft.CodeAnalysis.CSharp.resources.dll
WebAPI/bin/Debug/net8.0/tr/Microsoft.CodeAnalysis.CSharp.Workspaces.resources.dll
WebAPI/bin/Debug/net8.0/tr/Microsoft.CodeAnalysis.resources.dll
WebAPI/bin/Debug/net8.0/tr/Microsoft.CodeAnalysis.Workspaces.MSBuild.BuildHost.resources.dll
WebAPI/bin/Debug/net8.0/tr/Microsoft.CodeAnalysis.Workspaces.resources.dll
WebAPI/bin/Debug/net8.0/zh-Hans/Microsoft.CodeAnalysis.CSharp.resources.dll
WebAPI/bin/Debug/net8.0/zh-Hans/Microsoft.CodeAnalysis.CSharp.Workspaces.resources.dll
WebAPI/bin/Debug/net8.0/zh-Hans/Microsoft.CodeAnalysis.resources.dll
WebAPI/bin/Debug/net8.0/zh-Hans/Microsoft.CodeAnalysis.Workspaces.MSBuild.BuildHost.resources.dll
WebAPI/bin/Debug/net8.0/zh-Hans/Microsoft.CodeAnalysis.Workspaces.resources.dll
WebAPI/bin/Debug/net8.0/zh-Hant/Microsoft.CodeAnalysis.CSharp.resources.dll
WebAPI/bin/Debug/net8.0/zh-Hant/Microsoft.CodeAnalysis.CSharp.Workspaces.resources.dll
WebAPI/bin/Debug/net8.0/zh-Hant/Microsoft.CodeAnalysis.resources.dll
WebAPI/bin/Debug/net8.0/zh-Hant/Microsoft.CodeAnalysis.Workspaces.MSBuild.BuildHost.resources.dll
WebAPI/bin/Debug/net8.0/zh-Hant/Microsoft.CodeAnalysis.Workspaces.resources.dll
WebAPI/Logs/api-20250222_016.log
WebAPI/Logs/api-20250222_017.log
WebAPI/Logs/api-20250222_018.log
WebAPI/Logs/api-20250222_019.log
WebAPI/Logs/api-20250222_020.log
WebAPI/Logs/api-20250222_021.log
WebAPI/Logs/api-20250222_022.log
WebAPI/Logs/api-20250222_023.log
WebAPI/Logs/api-20250222_024.log
WebAPI/Logs/api-20250222.log
WebAPI/Logs/api-20250223_001.log
WebAPI/Logs/api-20250223_002.log
WebAPI/Logs/api-20250223_003.log
WebAPI/Logs/api-20250223_004.log
WebAPI/Logs/api-20250223_005.log
WebAPI/Logs/api-20250223_006.log
WebAPI/Logs/api-20250223_007.log
WebAPI/Logs/api-20250223_008.log
WebAPI/Logs/api-20250223_009.log
WebAPI/Logs/api-20250223_010.log
WebAPI/Logs/api-20250223_011.log
WebAPI/Logs/api-20250223_012.log
WebAPI/Logs/api-20250223_013.log
WebAPI/Logs/api-20250223_014.log
WebAPI/Logs/api-20250223_015.log
WebAPI/Logs/api-20250223_016.log
WebAPI/Logs/api-20250223_017.log
WebAPI/Logs/api-20250223.log
WebAPI/obj/project.assets.json
WebAPI/obj/project.nuget.cache
WebAPI/obj/WebAPI.csproj.EntityFrameworkCore.targets
WebAPI/obj/WebAPI.csproj.nuget.dgspec.json
WebAPI/obj/WebAPI.csproj.nuget.g.props
WebAPI/obj/WebAPI.csproj.nuget.g.targets
WebAPI/obj/Debug/net8.0/.NETCoreApp,Version=v8.0.AssemblyAttributes.cs
WebAPI/obj/Debug/net8.0/apphost.exe
WebAPI/obj/Debug/net8.0/project.razor.json
WebAPI/obj/Debug/net8.0/staticwebassets.build.json
WebAPI/obj/Debug/net8.0/WebAPI.AssemblyInfo.cs
WebAPI/obj/Debug/net8.0/WebAPI.AssemblyInfoInputs.cache
WebAPI/obj/Debug/net8.0/WebAPI.assets.cache
WebAPI/obj/Debug/net8.0/WebAPI.csproj.AssemblyReference.cache
WebAPI/obj/Debug/net8.0/WebAPI.csproj.BuildWithSkipAnalyzers
WebAPI/obj/Debug/net8.0/WebAPI.csproj.CoreCompileInputs.cache
WebAPI/obj/Debug/net8.0/WebAPI.csproj.FileListAbsolute.txt
WebAPI/obj/Debug/net8.0/WebAPI.csproj.Up2Date
WebAPI/obj/Debug/net8.0/WebAPI.dll
WebAPI/obj/Debug/net8.0/WebAPI.GeneratedMSBuildEditorConfig.editorconfig
WebAPI/obj/Debug/net8.0/WebAPI.genruntimeconfig.cache
WebAPI/obj/Debug/net8.0/WebAPI.GlobalUsings.g.cs
WebAPI/obj/Debug/net8.0/WebAPI.MvcApplicationPartsAssemblyInfo.cache
WebAPI/obj/Debug/net8.0/WebAPI.MvcApplicationPartsAssemblyInfo.cs
WebAPI/obj/Debug/net8.0/WebAPI.pdb
WebAPI/obj/Debug/net8.0/ref/WebAPI.dll
WebAPI/obj/Debug/net8.0/refint/WebAPI.dll
WebAPI/obj/Debug/net8.0/staticwebassets/msbuild.build.WebAPI.props
WebAPI/obj/Debug/net8.0/staticwebassets/msbuild.buildMultiTargeting.WebAPI.props
WebAPI/obj/Debug/net8.0/staticwebassets/msbuild.buildTransitive.WebAPI.props
WebAPI.Tests/Controllers/DatabaseControllerTests.cs
WebAPI.Tests/Controllers/SearchEmployeesApiTests.cs
WebAPI/.vs/WebAPI/FileContentIndex/3034774f-79f2-45cb-9e22-6eefc6b1b1d2.vsidx
WebAPI/.vs/WebAPI/FileContentIndex/b02252e9-0c44-4fed-a10c-c405b6a07c99.vsidx
WebAPI/.vs/WebAPI/FileContentIndex/d61c4c86-025a-450d-bed3-09216fc1d9a3.vsidx
WebAPI/.vs/WebAPI/v17/.futdcache.v2
WebAPI/.vs/WebAPI/v17/.suo
WebAPI/.vs/ProjectEvaluation/webapi.metadata.v8.bin
WebAPI/.vs/ProjectEvaluation/webapi.projects.v8.bin
WebAPI/.vs/ProjectEvaluation/webapi.strings.v8.bin
WebAPI/.vs/WebAPI/FileContentIndex/21ef5eee-d4f9-4c49-930f-cb732d1e9433.vsidx
WebAPI/.vs/WebAPI/FileContentIndex/b2bd7336-9061-45d4-b718-8c3e6a4212e5.vsidx
WebAPI/.vs/WebAPI/FileContentIndex/bcc5b3d4-838d-4736-b44a-d60be1e4f7d8.vsidx
WebAPI/.vs/WebAPI/FileContentIndex/deafe849-4daf-40dc-a271-12d807b49e29.vsidx
WebAPI/.vs/WebAPI/v17/DocumentLayout.json
WebAPI/Logs/api-20250223_018.log
WebAPI/Logs/api-20250223_019.log
WebAPI/Logs/api-20250223_020.log
WebAPI/Logs/api-20250224_001.log
WebAPI/Logs/api-20250224.log
WebAPI/obj/Debug/net8.0/WebAPI.sourcelink.json
WebAPI/.vs/WebAPI/FileContentIndex/269a5825-277c-4de5-82d4-f3a1c46326e0.vsidx
